.wrapper
  .Main_chat
    .Main_chat__group-info
      .Main_chat__group-info--left
        %p.title
          = @group.name
        .members
          Member： 
          %ul.member
            - @group.users.each do |user|
              %li
                .member-name= user.name 
      .Main_chat__group-info--right
        %p
        = link_to "Edit", edit_group_path(@group), class: "edit-btn"
    .Main_chat__lists
      = render @messages
    .Main_chat__form
      .form
        = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
          .form__new-message  
            .form__new-message__input-box
              = f.text_field :content, class: "input-text", placeholder: "type a message"
              = f.label :image, class: 'input-image' do
                = icon('far', 'image', class: "file-icon")
                = f.file_field :image, class: "input-image"
            = f.submit "Send", class: "input-btn"