.wrapper
  .Side_bar
    .Side_bar__top
      .Side_bar__top__user
        %p.Side_bar__top__user__name
          = current_user.name
        %ul.Side_bar__top__user__icon
          %li 
          = link_to new_group_path, class: "icon edit-icon" do
            = icon('far', 'edit')
          %li
          = link_to edit_user_path(current_user), class: "icon setting-icon" do
            = icon('fas', 'cog')
    .Side_bar__list  
      - current_user.groups.each do |group|
        .Side_bar__list__group
          = link_to group_messages_path(group), class: 'edit-link' do
            .Side_bar__list__group--name
              = group.name
            .Side_bar__list__group--message
              = group.show_last_message